@page
@model Rcm.Web.Pages.Connection.ConfigureModel

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery AntiForgery

@{
    ViewData["Title"] = "Back-end Connection - Configure";
    ViewData["Module"] = "ConfigureConnection";
}

@section Styles {
    <link rel="stylesheet" href="~/css/configure.css" asp-append-version="true" />
}

@if (!Model.IsConfigured)
{
    <form class="entries" method="post">
        <label for="backend-uri">Back-end URI</label>
        <input id="backend-uri" asp-for="BackendUri" />
        <span class="error-message" asp-validation-for="BackendUri"></span>

        <label for="device-identifier">Device identifier</label>
        <input id="device-identifier" asp-for="DeviceIdentifier" />
        <span class="error-message" asp-validation-for="DeviceIdentifier"></span>

        <label for="device-key">Device key</label>
        <input id="device-key" asp-for="DeviceKey" />
        <span class="error-message" asp-validation-for="DeviceKey"></span>

        <button type="submit" class="primary">Submit</button>
    </form>
}
else
{
    <div class="entries">
        <label for="backend-uri">Back-end URI</label>
        <input id="backend-uri" asp-for="BackendUri" disabled />

        <label for="device-identifier">Device identifier</label>
        <input id="device-identifier" asp-for="DeviceIdentifier" disabled />

        <button type="button" class="primary" id="erase-configuration">Erase</button>
        <span class="error-message" id="erase-error-message"></span>

        @Html.AntiForgeryToken()

        @*<input name="__RequestVerificationToken"
            type="hidden"
            value="@AntiForgery.GetTokens(HttpContext).RequestToken" />*@
    </div>
}