.page-entries {
    padding-top: 2rem;
}

.details {
    display: flex;
    flex-flow: column nowrap;
}

.descriptions {
    justify-content: flex-start;
}

.actions {
    justify-content: flex-end;
}

.descriptions > *,
.actions > * {
    margin: 0.5rem;
    vertical-align: middle;
}

.status-detail, .actions {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    white-space: nowrap;
}

.status-detail {
    margin-bottom: 1rem;
}

.status-icon, .status-description {
    display: block;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.status-description {
    font-size: 1.2rem;
    padding-left: 0.5rem;
}

.status-icon {
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    border-radius: 2rem 2rem;
    text-align: center;
    color: black;
}

.positive {
    background-color: lightgreen;
}

.unknown {
    background-color: lightgrey;
}