@model (string name, string id)

<div class="page-entry daily" id="@Model.id">
    <h2>@Model.name</h2>
    <p class="time label">Time</p>
    <p class="time value"></p>
    <p class="temperature label">Temperature</p>
    <p class="temperature value"></p>
</div>