@page
@{
    ViewData["Title"] = "Today's measurements";
    ViewData["Module"] = "Daily";
}

@section Styles {
    <link rel="stylesheet" href="~/css/daily.css" asp-append-version="true" />
}

<div data-presence="available">
    <div class="page-entries">
        <partial name="_DailyEntry" model="@((name: "Latest", id: "latest"))" />
        <partial name="_DailyEntry" model="@((name: "First", id: "first"))" />
        <partial name="_DailyEntry" model="@((name: "Min", id: "min"))" />
        <partial name="_DailyEntry" model="@((name: "Max", id: "max"))" />
    </div>
</div>

<p data-presence="none">No measurements are available for today</p>

<div data-presence="loading">
    <h2>Loading...</h2>
</div>