.page-entries {
    padding-top: 2rem;
}

.details {
    margin: 1rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.descriptions {
    display: flex;
    flex-flow: row nowrap;
}

.descriptions > * {
    display: block;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.descriptions > *,
.actions > * {
    margin: 0 0.5rem;
    vertical-align: middle;
}

.actions button {
    font-size: 1rem;
}

.status-icon {
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    border-radius: 2rem 2rem;
    text-align: center;
    color: black;
}

.status-description {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.status-description > p {
    margin-bottom: 0.2rem;
}

.positive {
    background-color: lightgreen;
}

.negative {
    background-color: lightsalmon;
}

.unknown {
    background-color: lightgrey;
}