@page
@model IndexModel
@{
    ViewData["Title"] = "Latest Measurement";
}

@if (Model.LatestMeasurement is null)
{
    <p>No measurement data yet.</p>
}
else
{
    <p>Measurement at @(Model.LatestMeasurement.Time.ToString("g"))</p>
    <p>Temperature: @(Model.LatestMeasurement.CelsiusTemperature.ToString("0.0"))°C</p>
    <p>Pressure: @(Model.LatestMeasurement.HpaPressure.ToString("0.00"))hPa</p>
    <p>Relative humidity: @(Model.LatestMeasurement.RelativeHumidity.ToString("0.0"))%</p>
}