@page
@model Rcm.Web.Pages.StatusModel

@using Presentation.Status;

@{
    ViewData["Title"] = "System status";
}

@section Styles {
    <link rel="stylesheet" href="~/css/status.css" asp-append-version="true" />
}

<div class="page-entries">
    <div class="page-entry">
        <h2>Cloud connection</h2>
        <div class="details">
            <div class="descriptions">
                @{
                    if (Model.Connectivity?.ConnectionStatus == ConnectionStatusModel.Active)
                    {
                        <div class="status-icon positive">
                            <p>✔</p>
                        </div>
                        <div class="status-description">
                            <p>Active</p>
                            @if (Model.Connectivity.Uptime.HasValue)
                            {
                                <p class="small">Uptime: @Model.Connectivity.Uptime.Value.ToString("d'd, 'hh':'mm")</p>
                            }
                        </div>
                    }
                    else if (Model.Connectivity?.ConnectionStatus == ConnectionStatusModel.Inactive)
                    {
                        <div class="status-icon negative">
                            <p>🗙</p>
                        </div>
                        <div class="status-description">
                            <p>Inactive</p>
                        </div>
                    }
                    else
                    {
                        <div class="status-icon unknown">
                            <p>🗙</p>
                        </div>
                        <div class="status-description">
                            <p>Not configured</p>
                        </div>
                    }
                }
            </div>
            <div class="actions">
                @{
                    if (Model.Connectivity?.ConnectionStatus == ConnectionStatusModel.Active)
                    {
                        <a asp-page="/Configuration/Upload" class="pseudo-button secondary">Manual data upload</a>
                    }

                    if (Model.Connectivity != null && 
                        (Model.Connectivity.ConnectionStatus == ConnectionStatusModel.Active
                            || Model.Connectivity.ConnectionStatus == ConnectionStatusModel.Inactive))
                    {
                        <a asp-page="/Configuration/Offboard" class="pseudo-button secondary">Offboard</a>
                    }
                    else
                    {
                        <a asp-page="/Configuration/Onboard" class="pseudo-button primary">Onboard</a>
                    }
                }
            </div>
        </div>
    </div>
</div>